@(queryjobs: List[models.QueryJob])

@main(Messages("queryjobList")) {

	<table class="table table-striped">
		<tr>
			<th>@Messages("queryjobName")</th>
			<th>@Messages("queryjobConnection")</th>
			<th>@Messages("queryjobCron")</th>
			<th>@Messages("queryjobRecipients")</th>
			<th>@Messages("action")</th>
		</tr>
	@for(queryjob <- queryjobs) {
		<tr>
			<td><a href="@routes.QueryJobController.load(queryjob.getId())">@queryjob.getName()</a></td>
			<td>@queryjob.getConnection().getName()</td>
			<td>@queryjob.getCron()</td>
			<td>@queryjob.getRecipients()</td>
			<td>
				<a class="btn btn-default btn-xs" href="@routes.QueryJobController.test(queryjob.getId())" target="_blank">@Messages("queryjobTest")</a>
				<a class="btn btn-default btn-xs" href="@routes.QueryJobController.invokeNow(queryjob.getId())">@Messages("queryjobInvokeNow")</a>
			</td>
		</tr>
	}
	</table>
	
	<a class="btn btn-default" href="@routes.QueryJobController.load(0)">@Messages("queryjobCreate")</a>
	
}
