@()
@urlstarts(path:String) = {
	@if(request().uri().startsWith(path)) {
		class=active
	}
}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="@routes.Application.index()">QueryScheduler</a>
    </div>
    <div class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
		  <li @urlstarts("/home")><a href="@routes.Application.index()">Home</a></li>
		  <li @urlstarts("/queryjob")><a href="@routes.QueryJobController.index()">Query Jobs</a></li>
		  <li @urlstarts("/connection")><a href="@routes.ConnectionController.index()">Connections</a></li>
		  <li @urlstarts("/driver")><a href="@routes.DriverController.index()">@Messages("drivers")</a></li>
		</ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

